.product-content {
    .product-show {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; /* 20px gap between rows and columns */
        .product-item {
            opacity: 0;
            transform: translateY(30px);
            transition:
                opacity 0.8s ease-out,
                transform 0.8s ease-out;
            will-change: opacity, transform; /* 優化效能 */
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            .item-name {
                font-size: 3rem;
                font-weight: bold;
                color: rgb(2, 110, 160);
            }

            img {
                border: #ccc solid 1px;
                border-radius: 5px;
                margin-top: 20px;
                width: 50%;
            }
        }

        /* 2. 當進入視窗後，加上這個 Class 觸發動畫 */
        .product-item.is-visible {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .no-more {
        height: 50px;
        background-color: #666;
        color: #fff;
        font-weight: bold;
        padding-top: 12px;
    }
}

/* 定義動畫軌跡 */
// @keyframes fadeInUp {
//     from {
//         opacity: 0;
//         transform: translateY(30px); /* 從下方 30px 開始 */
//     }
//     to {
//         opacity: 1;
//         transform: translateY(0); /* 回到原位 */
//     }
// }
